.d-flex {
	display: flex;
}

.fd-col {
	flex-direction: column;
}

.flex-center {
	@extend .d-flex;
	justify-content: center;
	align-items: center;
}

.flex-s-center {
	@extend .d-flex;
	justify-self: center;
	align-self: center;
}

.flex-align-center {
	@extend .d-flex;
	align-items: center;
}

.flex-align-end {
	@extend .d-flex;
	align-items: flex-end;
}

.flex-justify-center {
	@extend .d-flex;
	justify-content: center;
}

.flex-justify-end {
	@extend .d-flex;
	justify-content: flex-end;
}

.flex-end {
	@extend .flex-align-end;
	@extend .flex-justify-end;
}

.grid {
	display: grid;
}

.grid-col-1 {
	grid-template-columns: 1fr;
}

.grid-col-2 {
	grid-template-columns: repeat(2, 1fr);
}

.width-100 {
	width: 100%;
}

.width-80 {
	width: 80%;
}

.width-60 {
	width: 60%;
}

.width-40 {
	width: 40%;
}