@use 'variables' as var;

input {
	font-size: var.$font-size-forms;
	background-color: var.$light-grayish-cyan;
	border: none;
	font-weight: var.$font-weight-big;
	border-radius: 4px;
	padding: 4px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type="number"] {
	-moz-appearance: textfield;
}