@use 'variables' as var;

.text--big-1 {
	font-size: 2rem;
}

.text--big-2 {
	font-size: 3rem;
}

.text--big-3 {
	font-size: 4rem;
}

.text--big-4 {
	font-size: 5rem;
}

.text--opacity-1 {
	opacity: 1;
}

.text--opacity-2 {
	opacity: .5;
}

.text--primary {
	color: var.$text-primary;
}

.text--italic {
	font-style: italic;
}

.text--white {
	color: var.$white;
}

.text--gray {
	color: var.$text-gray;
}

.text--primary-dark {
	color: var.$text-primary-dark;
}

.text--bold {
	font-weight: 700;
}

.text--v-rotate {
	transform: rotate(-90deg);
}

.text--center {
	text-align: center;
}

.text--uppercase {
	text-transform: uppercase;
}
