@use 'variables' as var;
@use 'text';
@use 'display';
@use 'margin';
@use 'padding';
@use 'border';

* {
	font-family: 'Space Mono', monospace;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	height: 100vh;
	background-color: var.$light-grayish-cyan;
}

#main-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 54px 420px;
}

#tip-calculator {
	background-color: var.$white;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 98px 128px 64px 128px;
}