@use 'variables' as var;
@use 'text';
@use 'display';
@use 'margin';
@use 'padding';
@use 'border';
@use 'buttons';

@use 'card';
@use 'input';

* {
	font-family: 'Space Mono', monospace;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	height: 100vh;
	font-size: var.$font-size;
	background-color: var.$light-grayish-cyan;
}

#main-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 96px 674px;
}

#tip-calculator {
	background-color: var.$white;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 144px 256px 80px 256px;
}

#dollar {
	color: var.$primary-dark;
}